* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
}

main {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(65, 180, 12);
  text-align: center;
  line-height: 100px;
}

.hi {
  color: white;
}

.purple {
  background-color: rgb(65, 12, 180);
}
