button {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button:active {
  background: #939292;
}

main {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
