* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

h1 {
  color: rgb(127, 12, 194);
}

h2 {
  color: rgb(127, 6, 6);
}

section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
